@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Poppins:wght@400;900&family=Roboto:ital,wght@0,500;0,900;1,900&display=swap');

@property --d {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

body {
  position: relative;
  background-color: #0A0A0A;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}





*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.content{
  text-align: center;
  max-width: 51rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.content .title{
    color: #0a0a0a;
    font-size: 0.9375rem;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    display: inline-block;
    font-weight: 900;
    margin-bottom: 1.25rem;
    background: linear-gradient(120deg, #0396FF 20.69%, #7644ff 50.19%, #47b7fd 79.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content p{
    
    width: 88%;
    font-size: 1.0625rem;
    margin: 1.5625rem auto 1.875rem;
}

.titleSection{
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  justify-content: center;
  display: flex;
  padding-bottom: 4rem;
  align-items: center;
  
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}

.genButton{
    font-family: 'Poppins';
    border-radius: 2em;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    width: 9em;
    height: 3em;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.0625rem;
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    position: relative;
}
.genButton.secondary {
  background: transparent; 
}

.genButton::before{
    content:"";
    position:absolute;
    inset:-.0625rem;
    padding:.090rem;
    border-radius:3em;
    -webkit-mask: radial-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask: radial-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite:xor;
    mask-composite:calc(1); 
    background:conic-gradient(from var(--d,0deg),
    #ffffff,
    #e1060600 30deg 120deg,
    #7e5bf0 150deg 180deg,
    #0000 210deg 300deg,
    #e0e0e0 330deg);
    animation: rotateAlways 2s linear infinite;
  }
  .genButton.secondary::before{
    content:"";
    position:absolute;
    inset:-.0625rem;
    padding:.090rem;
    border-radius:3em;
    -webkit-mask: radial-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask: radial-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite:xor;
    mask-composite:calc(1); 
    background:conic-gradient(from var(--d,0deg),
    #ffffff);
    animation: rotateAlways 2s linear infinite;
  }
  @keyframes rotateAlways {
  from {
    --d: 0deg;
  }
  to {
    --d: 360deg;
  }
}

  .genButton::before, .genButton::after{
    transition: .5s, 99999s 99999s transform, 99999s 99999s --d;
  }
  .genButton:hover{
    box-shadow: inset 0px .0625rem 0px 0px rgba(255, 255, 255, 0.4), inset 0px -0.25rem 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px .0625rem rgba(255, 255, 255, 0.2), 0px 0px 11.25rem 0px #9917FF;
    color: #ffffff;
  }
 
  
  .genButton:hover:before{
    background-color:transparent;
  }

  .sparkle {
    transition: all 800ms ease;
  }

  .genButton:hover .sparkle {
    transform: scale(1.1);
  } 

  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(12px);
    }
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
